<div class="contenedor">
  <div class="center">
    <p>&nbsp;</p>
    <%= image_tag('construccion.png') %>
    <br />
    <br />
    <h1>Lo sentimos!</h1>
    <hr style="border: 2px #666 solid">
    <h4 class="main-color">Esta página se encuentra en construcción </h4>

  </div>
</div>
