<div class="contenedor">
  <div class="center">
    <h1>Editar reporte</h1>
    <br />
    <br />
    <%= render 'form', reporte: @reporte %>
    <br />
    <br />
    <div class="center">
      <div class="button-green">
        <h4 class="white">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Regresar', reportes_path %>
      </h4>
      </div>
    </div>
  </div>
</div>
