<div class="contenedor">
  <div class="center">
    <p></p>
    <h1 class="main-color"><i class="fa fa-recycle"></i> Contacto</h1>
    <hr>
    <br />

    <h2>Editar Formulario</h2>
    <br />
    <br />
  <%= render 'form' %>
  <br />

  <div class="center">
    <div class="button-green">
      <h4 class="white">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Regresar', contactos_path %>
      </h4>
    </div>
  </div>
  </div>
</div>
