<div class="container-ecoaliados">
  <div class="contenedor">
      <p>&nbsp;</p>
      <h1 class="white"><i class="fa fa-recycle"></i>&nbsp; Ecoaliados</h1>
      <hr>
      <p>&nbsp;</p>
      <div class="tabs-flex">
        <div class="tab-ecoaliados">

          <%= image_tag('logo-fedesoft.png', :class => 'image-tag') %>

        </div>
        <div class="tab-ecoaliados">

          <%= image_tag('logo-MinTIC.png', :class => 'image-tag') %>

        </div>
        <div class="tab-ecoaliados">

          <%= image_tag('logo-vivedigital.png', :class => 'image-tag') %>

        </div>
      </div>
      <br />
      <br />
      <div class="center">
        <div class="button-green">
          <h4 class="white">
        <%= link_to 'Ser Ecoaliado! >>', contactos_path %>
        </h4>
        </div>
      </div>

  </div>
</div>
